.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}



.bordure {
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 6px;
    /*line-height: 40px;*/
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    padding-top: 1px;
    padding-bottom: 1px;
}

.bordure h2 {
    margin-bottom:18px;
}

.cel{
	background-color:lightblue;
	border-radius: 6px;
	text-align:center;
}
.celprof{
    background-color: white;
    border:none;
    text-align:center;
    border:5px solid #286090;
    padding:0;
    margin-right:10px;
    margin-bottom:10px;
    width:150px;
    display: inline-block;
    vertical-align: top;
}
.celprof.qr #qrcode {
    padding:15px;
}
.celprof img {
  width:100%;
}
.celprof p {
    display: block;
    font-size:1em;
    padding:6px 12px;
    background-color: #286090;
    margin:0;
    color:white;
}

.button{
 width:10em;
 height:10em;

}
.submit{

	width:20em;
	height:5em;
}
.title{
}

body{
	padding-top:50px;
}

.navbar-default {
	background-color:#7DC3FF;
}
.navbar-inverse {
  background-color: #286090;
  border-color: white;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-text {
  color:white;
}

/* page etudiant */


.question-qcm.bloc {
  position:absolute;
  top:50px;
  left:0;
  bottom:0;
  right:0;
  font-size: 0;
}
.question-qcm.bloc .reponse {
  display: inline-block;
  height: 33%;
  width: 50%;
  max-height: 50vh;
  font-size: 0;
  border: 1px solid white;
  background-position: center;
  background-size: cover;
  transition: transform 0.4s;
}
.question-qcm.bloc .reponse:hover {
  transform: scale(0.9);
}
.question-qcm.bloc .reponse.a {
  background-image: url('/static/images/a.svg');
}
.question-qcm.bloc .reponse.b {
  background-image: url('/static/images/b.svg');
}
.question-qcm.bloc .reponse.c {
  background-image: url('/static/images/c.svg');
}
.question-qcm.bloc .reponse.d {
  background-image: url('/static/images/d.svg');
}
.question-qcm.bloc .reponse.e {
  background-image: url('/static/images/d.svg');
}
.question-qcm.bloc .reponse.f {
  background-image: url('/static/images/d.svg');
}

.question-qcm.bloc.hidden {
  display: block!important;
  height: 0%;
  width: 0%;
}
.question-qcm.bloc.hidden .reponse {
  transform: scale(0);
}

.question-qcm.bloc .titre {
  background-color: #EAEAEA;
  padding: 12px;
  font-size: 20px;
}


.etudiant_perdu {
  text-align: center;
}
.warning_yellow:hover{
  transform :scale(0.9);
}


.compteur{
  font-size: 3em;
  color: #FFFFFF;
  text-align: center;
  background-color: rgb(14,214,14);
  width: 3em;


}

.qrcode p {
  text-align: center;
  font-size:32px;
}

#openchart {
  width: 100%;
}

.bloc {
  background-color: #EFEFEF;
  padding:10px 20px;
  margin-bottom:20px;
}

#salle {
  background-color: #286090;
  display: inline-block;
  padding: 10px;
  color: white;
}
#salle span {
  color: black;
  background-color: white;
  padding:1px 3px;
}
