{% extends "Quizz/main.html" %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <p style="text-align:center">Une erreur est survenue!<br/><br/>{{error}}</p>

    <!-- il faudra remplir ici pour les options du prof!-->

    <!-- placer dans cette deuxieme div les charts -->
    <div class="col-xs-offset-3 col-xs-6">
      <form action="{% url 'Quizz.views.home' %}" method='post'>
        {% csrf_token %}
        <div class="form-group text-center">
          <input class="btn btn-primary" type="Submit" Value="Retour à l'acceuil"><br>
        </div>
      </form>
    </div>

  </div>
</div>

{% endblock %}
