{% extends "Quizz/main.html" %}

{% block navbar %}
<p class="navbar-text question-qcm hidden">
  Question n°<span class="numero"></span> | <span class="commentaire"></span>
</p>
{% endblock %}



{% block body %}
<div class="question-qcm bloc hidden">
  <!--<div class="titre">Question n°<span class="numero">0</span></div>-->
  <div class="reponse a" data-valeur="0">A</div>
  <div class="reponse b" data-valeur="1">B</div>
  <div class="reponse c" data-valeur="2">C</div>
  <div class="reponse d" data-valeur="3">D</div>

  <div class="hidden">
    <form action="/etudiant_post" method="post">
      {% csrf_token %}
      <input type="text" name="question_type" value="qcm"/>
      <input type="text" name="valeur"/>
      <input type="text" name="id"/>
    </form>
  </div>
</div>

<div class="question-open bloc hidden">
  <!--<div class="titre">Question n°<span class="numero">0</span></div>-->
  <div class="question ouverte">
    <form action="/etudiant_post" method="post">
      {% csrf_token %}
      <input type="hidden" name="question_type" value="open"/>
      <input type="text" name="texte"/>
      <input type="hidden" name="id"/>
	  <input type="button" class="open-submit" name="submit" value="Répondre"/>
    </form>
  </div>
</div>

<div id="rien-en-cours">
  <div class="container">
    <p>Il n'y a pas de question en cours. Les questions s'affichent automatiquement.</p>
    <div class = "row">
    		<div class =" col-lg-6 col-lg-offset-3 etudiant_perdu">
    			<img src="/static/images/warning_yellow.png" class="warning_yellow" data-valeur="-1"/>
    			<img src="/static/images/warning_red.png"  id="warning_red" class="hidden"/>
    			<div class= "row" >
    				Je suis perdu !
    			</div>
    			<div id="warning" class="hidden">
  			    <form action="/etudiant_post" method="post">
  			    {% csrf_token %}
  			      <input type="text" name="lost" value="new Lost"/>
              <input type="text" name="code" value="{{code}}"/>
      		</form>
    			</div>
  	  	</div>
    </div>
  </div>
</div>

<script>
  window.page = "etudiant";
  window.code = {{code}};
</script>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
