{% extends "Quizz/main.html" %}

{% block navbar %}
<p class="navbar-text question-qcm hidden">
  Question n°<span class="numero"></span>
</p>
{% endblock %}
{% block right-nav %}
<a href="/logout/">
  Logout
</a>
{% endblock %}


{% block body %}
<div class="question-qcm bloc hidden">
  <!--<div class="titre">Question n°<span class="numero">0</span></div>-->
  <div class="reponse a" data-valeur="0">A</div>
  <div class="reponse b" data-valeur="1">B</div>
  <div class="reponse c" data-valeur="2">C</div>
  <div class="reponse d" data-valeur="3">D</div>

  <div class="hidden">
    <form action="/etudiant_post" method="post">
      {% csrf_token %}
      <input type="text" name="question_type" value="qcm"/>
      <input type="text" name="valeur"/>
      <input type="text" name="id"/>
    </form>
  </div>
</div>

<div class="question-open bloc hidden">
  <!--<div class="titre">Question n°<span class="numero">0</span></div>-->
  <div class="question ouverte">
    <form action="/etudiant_post" method="post">
      {% csrf_token %}
      <input type="hidden" name="question_type" value="open"/>
      <input type="text" name="valeur"/>
      <input type="hidden" name="id"/>
	  <input type="submit" class="open-submit" name="submit" value="Répondre"/>
    </form>
  </div>
</div>

<div id="rien-en-cours">
  <p>Pas de question en cours ! Bonne sieste.</p>
  <!-- Ajouter ici le +/- -->
</div>

<script>
  window.page = "etudiant";
  window.code = {{code}};
</script>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/chart.js' %}"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
