{% extends "Quizz/main.html" %}

{% block body %}

<div class="jumbotron">
  <div class="container">

    <div class="row">
      <div class="col-sm-offset-1 col-sm-4 form-group bordure">
        <h2>Access Etudiant</h2>
        <div class="form-group">
          <form id="acces-etudiant">
            <label class="sr-only" for="code">Code</label>
            <div class="input-group">
              <input type="text" id="code" name="code" class="form-control" placeholder="Code" maxlength="10">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Valider</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-offset-2 col-sm-4 form-group bordure">
        <h2>Créer un quizz</h2>
        <form action="{% url 'Quizz.views.prof' %}" method='post'>
          {% csrf_token %}
          <div class="form-group text-center">
            <input class="btn btn-primary" type="Submit" Value="Créer un quizz!"><br>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
</div>

<div class="container">
  <h1>De la communication à double sens en cours avec e-Quizz !</h1>
  <p>
    Suspendisse vitae velit sit amet augue vulputate aliquam non id massa. Duis rutrum id tellus vel tristique. Suspendisse libero turpis, porta nec erat a, convallis aliquet arcu. Fusce accumsan ultricies augue id elementum. Fusce ullamcorper dignissim
    mi vel maximus. Donec tempor, libero in suscipit porttitor, sem neque mollis libero, eu accumsan augue metus id nunc. Sed convallis iaculis eros eget accumsan. Nam tristique libero dui, a tincidunt mauris tempor sed. Sed ipsum velit, euismod vel
    lectus a, rutrum pharetra sem. Sed ullamcorper ipsum orci, a faucibus sem congue sed. Maecenas varius nibh vitae enim rutrum, a posuere odio volutpat.
  </p>
</div>

{% endblock %}
