{% extends "Quizz/main.html" %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <p style="text-align:center">Salle n° {{code}}<br/><br/>Salle du professeur</p>

    <!-- il faudra remplir ici pour les options du prof!-->
    <div class = "col-lg-6">
      <form method ="post" action={% url 'Quizz.views.prof' %}>
        {% csrf_token %}
        <ul class="list-unstyled">
          <li>
            <input type ="text" id="comment" class="textfieldprof" name="commentaire" placeholder ="Votre commentaire ici"/>
          </li>
          <li>
            <button type ="submit" id="open" class="celprof" name="question_type" value = "open">Débuter une question ouverte</button>
          </li>
          <li>
            <button type ="submit" id="qcm" class="celprof" name="question_type" value ="qcm">Débuter un QCM</button>
          </li>
          <li>
            <button type ="submit" id="close" class="celprof"  name="question_type" value ="close">Terminer la session</button>
          </li>
        </ul>
      </form>
    </div>
    <!-- placer dans cette deuxieme div les charts -->
    <div class="col-lg-6">

    </div>
  </div>
</div>

</div>
</div>

<div class="container">
  <h1>De la communication à double sens en cours avec e-Quizz !</h1>
  <p>
    Suspendisse vitae velit sit amet augue vulputate aliquam non id massa. Duis rutrum id tellus vel tristique. Suspendisse libero turpis, porta nec erat a, convallis aliquet arcu. Fusce accumsan ultricies augue id elementum. Fusce ullamcorper dignissim
    mi vel maximus. Donec tempor, libero in suscipit porttitor, sem neque mollis libero, eu accumsan augue metus id nunc. Sed convallis iaculis eros eget accumsan. Nam tristique libero dui, a tincidunt mauris tempor sed. Sed ipsum velit, euismod vel
    lectus a, rutrum pharetra sem. Sed ullamcorper ipsum orci, a faucibus sem congue sed. Maecenas varius nibh vitae enim rutrum, a posuere odio volutpat.
  </p>
</div>

{% endblock %}
