{% extends "Quizz/main.html" %}
{% load static %}

{% load quizz %}

{% block body %}

<div class="jumbotron">
  <div class="container">
    <p style="text-align:center">Salle n° {{code}} </p>
    <div id="qrcode"></div>

    <form method ="post" action={% url 'Quizz.views.prof' %}>
      {% csrf_token %}

      <button type ="submit" id="qcm" class="celprof" name="question_type" value ="qcm">
        <img alt="Nouvelle question QCM" src="{% static 'images/newqcm.svg' %}"/>
        <p>Débuter un QCM</p>
      </button>

      <button type ="submit" id="open" class="celprof" name="question_type" value = "open">
        <img alt="Nouvelle question mot" src="{% static 'images/newtagcloud.svg' %}"/>
        <p>Débuter une question mot</p>
      </button>

      <button type ="submit" id="close" class="celprof"  name="question_type" value ="close">
        <img alt="Mettre fin à la session" src="{% static 'images/exit.svg' %}"/>
        <p>Terminer le cours</p>
      </button>

    </form>

  </div>
</div>

</div>
</div>

<div class="container">
  <h1>De la communication à double sens en cours avec e-Quizz !</h1>

  <input type ="text" id="comment" class="textfieldprof" name="commentaire" placeholder ="Votre commentaire ici"/>
  <div class="row">
    <div class="col-sm-6">
      <canvas id="qcmchart" width="400" height="400"></canvas>
    </div>
    <div class="col-sm-6">
      <canvas id="qcmpiechart" width="400" height="400"></canvas>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'qrcode/qrcode.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

<script>
  window.page = "prof";
  window.code = {{code}};
  window.test = 0;

  new QRCode(
    document.getElementById("qrcode"),
    {
      text : "http://{{current_site.domain}}{% url 'Quizz.views.prof_refresh' code=code question_id=question_number %}/{{code}}",
      colorDark : "#000000",
      colorLight : "#EEE",
    }
  );

  window.qcmchart = new Chart($("#qcmchart"), {
    type: 'bar',
    data: {
      labels: ["A", "B", "C", "D", "E", "F"],
      datasets: [{
        label: 'Nombre de votes',
        data: [0, 0, 0, 0, 0, 0],
        backgroundColor: [
          "#aec7e8",
          "#ffbb78",
          "#98df8a",
          "#ff9896",
          "#c5b0d5",
          "#c49c94",
        ],
        hoverBackgroundColor: [
          "#1f77b4",
          "#ff7f0e",
          "#2ca02c",
          "#d62728",
          "#9467bd",
          "#8c564b",
        ]
      }]
    },
    options: {
      scales: { yAxes: [{ ticks: { beginAtZero:true }  }] },
    }
  });

  window.refresh_prof = function() {
    $.getJSON("/prof_refresh/" + window.code + "/" + $("#qnumber").val(), function(res) {
      if (res.qzero){
      	$("#qcmchart").addClass('hidden');
      	window.test=42;
      	console.log("yolo");
  	  }
      else if (res.error) {
        alert('Erreur : ' + res.error);
      }
      else if (res.question_type == "QCM" && res.reponses != "undefined") {
      	$("#qcmchart").removeClass('hidden');
        window.qcmchart.data.datasets[0].data = res.reponses;
        window.qcmchart.update();
      }

      setTimeout(window.refresh_prof, 2000);
    });
  };
  window.refresh_prof();
</script>
{% endblock %}
