<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">

        <title>Equiz</title>
		{% load static %}
        <!-- Bootstrap core CSS -->
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="equizzStyle.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/home">
                        <!--<img alt="Brand" src="...">-->
                        e-Quizz
                    </a>
                </div>
                <!--<p class="navbar-text navbar-right">Projet tut</p>-->
            </div>
        </nav>

        <div class="jumbotron">
            <div class="container">
				<p style="text-align:center">Salle n° {{code}}<br/><br/>Salle du professeur</p>
								
				<!-- il faudra remplir ici pour les options du prof!-->
				<div class = "col-lg-6">
					<form method ="post" >
						<ul class="list-unstyled">
							<li>
								<input type ="text" class="textfieldprof" c name="commentaire" value ="votre commentaire ici"/>
							</li>
							<li>
								<input type ="button"  class="celprof" name="qOuverte" value = "lancer une question ouverte"/>
							</li>
							<li>
								<input type ="button" class="celprof" name="qcm" value ="lancer un qcm"/>
							</li>
							<li>
								<input type ="button" class="celprof"  name="Fsession" value ="clore la session"/>
							</li>
						</ul>
					</form>
				</div>
				<!-- placer dans cette deuxieme div les charts -->
				<div class="col-lg-6">
					
				</div>	
				<!--{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="code">Code</label>
                                <div class="input-group">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Ton nom ici">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Valider</button>
                                    </span>
                                </div>
                            </div>-->
					
					
			</div>
            </div>

        </div>
    </div>

    <div class="container">
        <h1>De la communication à double sens en cours avec e-Quizz !</h1>
        <p>
            Suspendisse vitae velit sit amet augue vulputate aliquam non id massa. Duis rutrum id tellus vel tristique. Suspendisse libero turpis, porta nec erat a, convallis aliquet arcu. Fusce accumsan ultricies augue id elementum. Fusce ullamcorper dignissim
            mi vel maximus. Donec tempor, libero in suscipit porttitor, sem neque mollis libero, eu accumsan augue metus id nunc. Sed convallis iaculis eros eget accumsan. Nam tristique libero dui, a tincidunt mauris tempor sed. Sed ipsum velit, euismod vel
            lectus a, rutrum pharetra sem. Sed ullamcorper ipsum orci, a faucibus sem congue sed. Maecenas varius nibh vitae enim rutrum, a posuere odio volutpat.
        </p>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
